*.bootinfo
*.bootinfo_guids
*.compileinfo
*.precompileinfo
*.Application.map
*.core
*.err
*.opt
*.project.~u
*.project.bak
backup/
Copy/
ProjWpjBK/
temp/
tar/
Копировать/
*.bak
*.dat~
*.pkg
*.pkgx
Thumbs.db
desktop.ini
~$*
